.navbar-parent{
    position: fixed;
    height: 60px;
    display: inline-block;
    
    display:flex;
    background-color:#ebb40ff3;
    top: 0%;
    width: 100%;
    top: 0%;
    right: 0%;
}
.navbar{
    display: flex;
    margin-left: 1cm;
}
.navbar-brand{
    position: fixed;

}
.navbar-full{
    margin-right: 5cm;
}

.nav-items{

    
    list-style: none;
    
    display: inline;

    
}

.nav-list li {
    list-style: none;
    
    display: flex;}
    
.navbar-list{
    position: fixed;
    top: 5.5px;
    left: 7cm;
    font-size: large;
    
    text-decoration: none;
    color:black;  
    
}
.nav-link{
    text-decoration: none;
    color:black;
    margin:10px;
    
}
.search{
    margin-left: 16cm;
    position:fixed;
    right: 250px;
    top: 10px;
}
.search-input{
    width: 7cm;
    height: .95cm;
    border-radius: 7px;
    border-style: none;
}
.search-button{
    width: 2.2cm;
    height: .95cm;
    background-color: rgb(58, 132, 132);
    border-radius: 7px;
    border-style: none;
    
}
.login-link{
    text-decoration: none;
    text-align: end;
    color: blue;
    font-size:x-large;
    position:fixed;
    right: 100px;
    top: 16px;
    cursor: pointer;

    
}
.last-logo{
    position: fixed;
    right: 0%;
    height: 60px;
}